.TabsContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 45px;
  color: rgb(233, 201, 120);
  font-weight: bold;
  background: rgb(128, 42, 42, 0.5);
  border-style: double;
  border-spacing: 1rem;
}

.TabsContent button {
  margin: 1rem;
  padding: 2px 10px;
  background-image: linear-gradient(225deg, #404702 0%, #3c281d 50%, #6f0b00 100%, #e67a00);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.5s;
}
.CharacterCardContainer {
  display: flex;
  flex-flow: column wrap;
  border-top: none;
}

.CharacterCardContainer p {
  margin: 1rem;
}

.CharacterCardContainer em {
  color: lightskyblue;
  font-size: 18px;
}

.CharacterCardAttributes ul {
  margin: 0.5rem;
}

.CharacterCardAttributes ul li {
  margin: 1rem;
}

@media screen and (min-width: 700px) {
  .TabsContent {
    height: 30px;
  }

  .TabsContent button {
    font-size: 1rem;
  }
  .CharacterCardContainer {
    width: 40vw;
    height: 60vh;
  }
}
