.CharacterCard {
  background-color: rgba(31, 31, 31, 0.95);
  color: whitesmoke;
  margin: 1rem 0;
  border-radius: 10px;
  border-style: solid;
}
.CharacterCardImg {
  display: flex;
  justify-content: center;
}

.CharacterCardImg img {
  display: flex;
  justify-content: center;
  height: 35vh;
  margin: 0.5rem;
}

.PlayButton {
  display: flex;
  justify-content: flex-end;
}

.clickToGame {
  margin: 1rem;
  padding: 10px 25px;
  background-image: linear-gradient(225deg, #404702 0%, #3c281d 50%, #6f0b00 100%, #e67a00);
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.5s;
}

.clickToGame:hover::after {
  transform: rotate(150deg);
}

@media screen and (min-width: 700px) {
  .CharacterCardImg {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
  }

  .CharacterCardImg img {
    display: flex;
    justify-content: center;
    height: 40vh;
  }
}
