.CharacterSelect {
  background-image: url('https://cdn.pixabay.com/photo/2012/03/01/00/21/bridge-19513_960_720.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: black;
  border-style: groove;
  background-size: 100%;
}

.Characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
