.DialogBoxContainer {
  background-image: url('https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_960_720.jpg');
  box-shadow: none;
  box-shadow: 15px 20px 15px #1f1f1f;
  border: 3px solid #3c281d;
  padding: 15px;
  margin: 0 10px;
  color: #3c281d;
  border-radius: 30px;
}

.DialogBoxTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.DialogBoxFooter {
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: end;
}

.DialogBoxNext {
  padding: 5px;
  border-radius: 30px;
}
