.GamePageContainer {
  background-color: #1f1f1f;
  background-size: cover;
  background-image: url(https://cdn.pixabay.com/photo/2012/03/01/00/21/bridge-19513_960_720.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.GamePageScene {
  background-color: #6f0b00;
  height: 50vh;
  width: 70vw;
  margin: 10px;
}

.GamePageSceneText {
  width: 50vw;
}

.GamePageChoices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  width: 40vw;
}
