.GameFinishPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.GameFinishText {
  background-color: #6f0b00;
  margin: 20vh 0;
  width: 50vw;
}

.GameFinishStatus {
  font-size: 5rem;
  text-align: center;
}

.GameFinishNext {
  font-size: 2rem;
  text-align: center;
}

.GameFinishChoices {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  margin-bottom: 10vh;
}

.GameFinishChoices > button {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

