.GamePageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.GamePageScene {
  background-color: #6f0b00;
  height: 40vh;
  margin: 10px;
}

.GamePageChoices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}
