body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: black;
  border-style: groove;
}

.Characters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 2rem;
}

.card p {
  color: black;
}

img {
  border-style: double;
  border-color: green;
  height: 35vh;
  width: 35vw;
}
